@import "tailwindcss";

:root {
  --background: #fff6f8; /* off white pink */
  --color-primary: #fee8ea; /* light pink */
  --color-accent: #eba4a1; /* darker pink */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.crossword .clue.incorrect {
  background-color: #ffe5e5;
  border-left: 4px solid red;
}

.crossword .clue.correct {
  background-color: #e0ffe0;
  border-left: 4px solid green;
  transition: all 0.3s ease;
}
